:host {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

polyfill-next-selector { content: ':host [drawer]'; }
::content[select="[drawer]"] > * {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

polyfill-next-selector { content: ':host [main]'; }
::content[select="[main]"] > * {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

#drawer {
  width: 270px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

#main {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

#main.in {
  -webkit-transform: translateZ(0px) translateX(270px);
  -moz-transform: translateZ(0px) translateX(270px);
  -o-transform: translateZ(0px) translateX(270px);
  transform: translateZ(0px) translateX(270px);
}

#main.out {
  -webkit-transform: translateZ(0px) translateX(0px);
  -moz-transform: translateZ(0px) translateX(0px);
  -o-transform: translateZ(0px) translateX(0px);
  transform: translateZ(0px) translateX(0px);
}

.shadow-left {
  -webkit-box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
  -o-box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
  box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
}